/* 用于显示附件的圆角边框 */
.rborder {
	margin-top: 10px;
	margin-bottom: 10px;
    display: block;
    width: 295px;
    border: 1px solid #cccccc;
    padding: 2px;
    margin-top: 1px;
    list-style-type: none;
    -webkit-border-radius:5px 5px;
    max-width:100%;
    table-layout:fixed;
}
.rborder:active {
	background-color:#bfe4f2;
	border: 2px solid #bfe4f2;
}
.rborder .arrow {
    width: 26px;
    height: 30px;
}

.rborder .attachicon {
    vertical-align:middle;
    width: 32px;
    height: 32px;
}

img[data-media-type=image] {
	margin-top:10px;
    margin-bottom:10px;
	max-width:97%;
}

img[data-media-type=handwrite]{
	margin-top:10px;
    margin-bottom:10px;
	max-width:97%;
	zoom: 45%;
}

.ynote-highlight {
		background-color : yellow;
}

html, body { width: 98%;word-break:normal;}

.ynote_attachment_name {
    width:225px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
 